.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: hsla(257, 82%, 13%, 1);
  background: linear-gradient(
    270deg,
    hsla(257, 82%, 13%, 1) 0%,
    hsla(257, 75%, 27%, 1) 100%
  );
  background: -moz-linear-gradient(
    270deg,
    hsla(257, 82%, 13%, 1) 0%,
    hsla(257, 75%, 27%, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    hsla(257, 82%, 13%, 1) 0%,
    hsla(257, 75%, 27%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#15063B", endColorstr="#2E1178", GradientType=1 );
}

.strahdWrapper {
  display: flex;
}

.gameGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: auto;
  z-index: 2;
  flex: 1;
}

.element {
  margin: 10px;
  cursor: pointer;
}

.strahdWrapper {
  position: absolute;
}

.holeWrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.hole {
  position: absolute;
  bottom: -50px;
}

.sky {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.6); */
}

.title {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.score {
  color: #fff;
  font-size: 1.5rem;
}

.scoreValue {
  font-weight: bold;
}

.countdown {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.gameInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;
}
.gameStats {
}
.leaderboardWrapper {
}

.leaderboard {
  color: #fff;
  margin: 2rem 0;
}

.leaderboard h2 {
  margin-bottom: 0.5rem;
}

.inputContainer input {
  padding: 0.75rem;
  font-size: 1rem;
}

.grass {
  background: hsla(141, 75%, 13%, 1);
  background: linear-gradient(
    90deg,
    hsla(141, 75%, 13%, 1) 0%,
    hsla(147, 47%, 47%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(141, 75%, 13%, 1) 0%,
    hsla(147, 47%, 47%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(141, 75%, 13%, 1) 0%,
    hsla(147, 47%, 47%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#083919", endColorstr="#3FAF71", GradientType=1 );
  /* background: url("../../public//castle.svg") center bottom no-repeat #080225;
  background-size: 100vw auto; */
  flex: 2;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  width: 100vw;
  height: 50vh;
  position: absolute;
  bottom: 0;
}
