.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: hsla(257, 82%, 13%, 1);
  background: linear-gradient(
    270deg,
    hsla(257, 82%, 13%, 1) 0%,
    hsla(257, 75%, 27%, 1) 100%
  );
  background: -moz-linear-gradient(
    270deg,
    hsla(257, 82%, 13%, 1) 0%,
    hsla(257, 75%, 27%, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    hsla(257, 82%, 13%, 1) 0%,
    hsla(257, 75%, 27%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#15063B", endColorstr="#2E1178", GradientType=1 );
}

.strahdWrapper {
  display: flex;
}

.gameGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: auto;
  margin-bottom: 3rem;
  z-index: 2;
}

.element {
  margin: 10px;
  cursor: pointer;
}

.sky {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.score {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.scoreValue {
  font-weight: bold;
}

.grass {
  background: hsla(141, 75%, 13%, 1);
  background: linear-gradient(
    90deg,
    hsla(141, 75%, 13%, 1) 0%,
    hsla(147, 47%, 47%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(141, 75%, 13%, 1) 0%,
    hsla(147, 47%, 47%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(141, 75%, 13%, 1) 0%,
    hsla(147, 47%, 47%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#083919", endColorstr="#3FAF71", GradientType=1 );
  flex: 2;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  width: 100vw;
  height: 50vh;
  position: absolute;
  bottom: 0;
}
